body {
  margin: 0;
  font-family: 'Brandon Grotesque';
  color: #545454;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.launch-information {
  margin: 8px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 1px #d4d4d4;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 5px;
}

.flight-number {
  text-align: left;
  width: 15%;
  margin: auto;
  font-size: 30px;
}

.launch-name {
  text-align: left;
  flex-grow: 4;
  margin: auto;
  font-size: 24px;

}

.rocket-name {
  margin: 0;
  padding: 5px;
  text-align: right;
}

.launch-date {
  margin: 0;
  padding: 5px;
  text-align: right;
}

.logo{
  height: 30px;
  margin: 30px 0px 30px 30px;
}

.launch-image{
  width: 90%;
  margin: 30px;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logo-title {
  display: flex;
  font-size: 20px;
}

.page-name {
  margin: 30px 0px 30px 0px;
}

.filtering {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin: 0px 40px 5px 40px;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-around;
}

.launch-list {
  margin: 0px 40px 0px 40px;
}

#reload-data-button {
  margin: 30px 0px 30px 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.icon {
  margin: auto;
  padding-left: 8px;
}

select {
  display: none;
  -webkit-appearance: none;
  background: url('./public/assets/icon/select.png') 90% no-repeat;
  position: relative;
}

.filter-clear {
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.button {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-family: 'Brandon Grotesque';
  border: none;
  min-width: 110px;
  max-height: 40px;
  margin: 5px;
  line-height: 40px;
  padding: 0px 12px 0px 12px;
  text-align: center;
  background-color:  #215184;
  color: white;
}

@media (max-width: 1000px){

  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .launch-image{
    width: 50%;
    margin: auto;
  }

  .launch-list {
    margin: 0px 10px 0px 10px;
  }

  .filtering {
    margin: 0px 10px 5px 10px;
  }
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('public/assets/font/BrandonGrotesque-Bold.woff2') format('woff2'),
      url('public/assets/font/BrandonGrotesque-Bold.woff') format('woff'),
      url('public/assets/font/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('public/assets/font/BrandonGrotesque-Regular.woff2') format('woff2'),
      url('public/assets/font/BrandonGrotesque-Regular.woff') format('woff'),
      url('public/assets/font/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('public/assets/font/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
      url('public/assets/font/BrandonGrotesque-RegularItalic.woff') format('woff'),
      url('public/assets/font/BrandonGrotesque-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('public/assets/font/BrandonGrotesque-Black.woff2') format('woff2'),
      url('public/assets/font/BrandonGrotesque-Black.woff') format('woff'),
      url('public/assets/font/BrandonGrotesque-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('public/assets/font/BrandonGrotesque-Medium.woff2') format('woff2'),
      url('public/assets/font/BrandonGrotesque-Medium.woff') format('woff'),
      url('public/assets/font/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}